.root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: sticky;
  top: 0;

  width: 250px;
  min-height: 100vh;

  background-color: #091928;
}

.clerkieTab {
  display: flex;
  align-items: center;
  top: 31.04px;
  left: 25px;
  margin-bottom: 46px;

  color: #FFF;
  font-size: 20px;
}

.tab :hover{
  cursor: pointer;
}

.clerkieTab img {
  margin-right: 11px;

  width: 20px;
  height: 20.01px;
}



.tab {
  /*layout*/
  display: flex;
  align-items: center;
  margin-bottom: 9px;

  /*text*/
  color: #fff;
  font-size: 20px;
}

.activeTab {
  display: flex;
  align-items: center;
  margin-bottom: 9px;

  width: 220px;
  height: 40px;

  color: #fff;
  font-size: 20px;

  background-color: #424242;
  border-radius: 6px;
}

.activeTab img {
  margin-left: 10px;
  margin-right: 7px;
}

.link {
  display: flex;
  
  text-decoration: none;
  color: white;
}


.tab img {
  margin-right: 7px;

  width: 24px;
  height: 24px;
}
