.friendsPage {
    display: flex;
    align-items: start;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

.filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    
    height: 37px;
    
    background-color: #FFF;
    
    border: 1px solid #ababab;
    border-radius: 30px;
    
    cursor: pointer;
}

.filterBtnActive {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    
    height: 37px;
    
    background-color: #424242;
    
    border: 1px solid #ababab;
    border-radius: 30px;
    
    cursor: pointer;
}

.filterBtn img {
    width: 19px;
    height: 20px;
}

.verticalLine {
    width: 0;
    height: 28px; 
    margin: 0 15px;
    
    border: 1px solid #D7D7D7;
}

.dataContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 46px;
    
    height: auto;
}

.filterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
      
    width: 1050px;
    height: 37px;
}

.filterWindow {
    position: absolute;
    margin-top: 47px;
    
    width: 1050px;
}

.clearAllBtn {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;

    display: flex;
    align-items: center;
    padding: 0;
    flex: 1;

    background-color: transparent;
    border: none;

    cursor: pointer;
    color: #D7D7D7;
}

.clearAllActive {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: #3399FF;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 1;

    background-color: transparent;
    border: none;
}

.filterCount {
    margin-left: 10px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;

    color: #FFFFFF;
}

.search {
    width: 300px;
    height: 46px;

    border: 1px solid #ABABAB;
    border-radius: 6px;
}

.searchContainer {
    position: relative;
}

.magglassIcon {
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
}

.search {
    padding-left: 49px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;

    color: #ABABAB;
}